{% extends 'app/layout.html' %}

{% block title %}
<title>All Staff</title>
{% endblock %}

{% block content %}
<header class="d-flex justify-content-center" style="font-size:2rem">{{school_name}} Staff</header>
<div class="container">
    <div class="row justify-content-center " style="margin-top: 30px;">
        <div class="col-sm-6 text-center">
            {% for staff in all_staff %}
            <li style="list-style: none; margin-bottom: 10px;"><a href="/list_staff/{{staff.employee_id}}">{{staff.name}}</a></li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}