{% extends 'app/layout.html' %}

{% block title %}
<title>{{staff.name}} Details</title>
{% endblock %}

{% block content %}
<header class="d-flex justify-content-center" style="font-size:2rem">{{staff.name}}</header>
<div class="container">
    <div class="row justify-content-center " style="margin-top: 30px;">
        <div class="col-sm-6 text-end">
            <p>Age:</p>
            <p>Role:</p>
            <p>Employee ID:</p>
        </div>
        <div class="col-sm-6 text-start">
            <p>{{staff.age}}</p>
            <p>{{staff.role}}</p>
            <p>{{staff.employee_id}}</p>
        </div>
    </div>
</div>
{% endblock %}